body{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.canvas{
    background-color:#fff;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    -webkit-box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    -box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
/*    background: #ffffff;
				cursor: pointer;
				margin-left: 10px;
				margin-top: 10px;
				-webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
				-moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
				-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);*/
}

.csvDiv{
    background-color:#fff;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    -webkit-box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    -box-shadow:4px 4px 8px rgba(0,0,0,0.5);
    background-image: linear-gradient(90deg, rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(200, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
    background-size: 10px 10px;
}


i{
	margin:5px 5px 0px 0px;
}

.brand {
	margin: 2% 2%;
}

.header {
    padding: 5% 10%;
}

.bg{
	background-repeat: no-repeat;
	background-size: relative;
}

.content{
	background-color: rgba(255,255,255,0.7);
}

.circleBut{
	border-radius: 8px;
	font-size: 8px;
	padding: 1px 1px 1px 1px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 16px;
}

.field{
	vertical-align: top;
	margin-left: 2px;
	display: inline-block;
	padding: 3px 6px;
	/*text-align: right;*/
}

.element{
	background-color: white;
	width: 50px;
	height: 50px;
	position: absolute;
	font-size: 10px;
	white-space:normal;
    word-break:break-all;
	word-wrap: break-word;
	border:2px solid grey;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.eleLink{
	width: 20px;
	height: 20px;
	position: absolute;
}

.tools{
	width: 100px;
}

.dropdown{
	vertical-align: top;
	display: inline-block;
	padding: 3px 6px;
	width: 200px;
}

.mypanel{
	background-color: inherit;
}